.sideBar{
    background-color: rgb(235, 160, 69);
    width: 230px;
    height: 500px;
}
div{
    float: left;
}
.under18{
    margin-left: 10px;
    padding-top: 10%;
    text-align: center;
    background-color: rgb(241, 184, 113);
    width: 230px;
    height: 100px;
}

.under50{
    margin-left: 10px;
    padding-top: 10%;
    text-align: center;
    background-color: rgb(98, 159, 216);
    width: 230px;
    height: 100px;
}

.over50{
    margin-left: 10px;
    padding-top: 10%;
    text-align: center;
    background-color: rgb(228, 163, 228);
    width: 230px;
    height: 100px;
}